# Vim backup and swap files
*~         
.*.swp     
*.swp      
*.swo
*.swx

# Vim undo and view files
*.un~
*.viminfo
*.sublime-workspace

# Temporary files
*.tmp

# Personal listening history
/myData/

# Old JS implementation
/jsVer/

# Py cache
/__pycache__/